*.config
*.creator
*.files
*.filters
*.includes
*.py[co]
*.pyc
*.sdf
*.sln
*.so
*.so.*
*.suo
*.user
*.vcproj
*.vcxproj
.*.swp
.DS_Store/
.vscode/
CMakeCache.txt
CMakeFiles/
__pycache__/
cmake_install.cmake
